# This is default NAMESPACE file created.
# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends
import(
  tcltk
)

## Load in the shared object; this used to be done in zzz.R
useDynLib(sjemea)
